@import '@web-audio/tokens/reset.css';
@import '@web-audio/tokens/tokens.css';
@import '@web-audio/editor/defaults.css';

/* -------------------------------------------- */
/* Global Styles ------------------------------ */
/* -------------------------------------------- */

:where(html) {
	--ui-header-block-size: var(--space-16);

	font-family: var(--font-sans);
	color-scheme: light dark;
	background: var(--color-bg-primary);
	color: var(--color-fg-primary);
}

a {
	color: var(--color-fg-primary);
	user-select: none;

	&:visited {
		color: var(--color-fg-primary);
	}
}

button {
	user-select: none;
	touch-action: none;
}
