/* -------------------------------------------- */
/* Global Styles ------------------------------ */
/* -------------------------------------------- */

:where(html) {
	font-family: system-ui, sans-serif;
	color-scheme: light dark;
	background: var(--ui-color-bg-primary);
	color: var(--ui-color-fg-primary);
}

a {
	color: var(--ui-color-fg-primary);
	user-select: none;

	&:visited {
		color: var(--ui-color-fg-primary);
	}
}

button {
	user-select: none;
	touch-action: none;
}
