:where(html) {
	--ui-color-bg-primary: light-dark(#fff, #000);
	--ui-color-bg-secondary: light-dark(#efefef, #111);

	--ui-color-fg-primary: light-dark(#000, #fff);
	--ui-color-fg-secondary: light-dark(#444, #ccc);
	--ui-color-fg-tertiary: light-dark(#888, #777);

	--ui-color-border-subtle: light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));

	--ui-header-block-size: 4rem;
}
